.card {
    margin-bottom: 30px;

    .img-container {
        height: 200px;

        img {
            height: 100%;
        }
    }

    .attacks {
        div {
            margin: 10px;
            padding: 5px;
            border-radius: 15px;
            background-color: rgb(72, 255, 0);
        }
    }
}